<div class="container" [formGroup]="form">
  <div class="row text-center">
    <div class="col-8 offset-2">
      <div class="h1">Nombre {{nombre}}</div>
    </div>

  </div>
  <div class="row text-center">
    <div class="col-6 offset-3">
      <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <input formControlName="name" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
    </div>

  </div>
  <div class="row text-center">
    <div class="col-6 offset-3">
      <button type="button" (click)="cambiarNombre()" class="btn btn-danger">Cambiar nombre</button>
    </div>
  </div>>
  <div class="row text-center">
    <div class="col-6 offset-3">
      <button type="button" (click)="logout()" class="btn btn-danger">Cerrar sesión</button>
    </div>
  </div>

</div>
